// --------------------MOBILE---------------------------
.cases {
  &__wrapper {
    padding: 40px 20px;
  }
  &__img {
    @extend .img;
  }

  &__pictures-items {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 18px;
  }

  &__pictures-item {
    transform: all 500ms linear;

    &:hover,
     &:focus {
      opacity: 0.85;
    }
  }

  &__subtitle {
    @extend .subtitle;
    text-align: center;
    color: $main-dark-text-color;
    margin-bottom: 20px;
  }

  &__title {
    @extend .title;
    text-align: center;
    color: $main-dark-text-color;
    margin-bottom: 20px;
  }

  &__desc {
    @extend .desc;
    text-align: center;
    color: $main-dark-text-color;
    margin-bottom: 20px;
  }
}

// --------------------TABLET---------------------------
@media screen and (min-width: $tablet) {
  .cases {
    &__wrapper {
      padding: 40px 32px;
    }

    &__pictures-items {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 18px;
    }

    &__subtitle,
    &__title,
    &__desc {
      margin-bottom: 24px;
    }
  }
}

// --------------------DESKTOP---------------------------
@media screen and (min-width: $desktop) {
  .cases {
    &__wrapper {
      padding: 80px 28px;
    }

    &__pictures-item {
      grid-column-gap: 21px;
      grid-row-gap: 24px;
    }
  }
}
