// --------------------MOBILE---------------------------
.contacts {
  &__img {
    @extend .img;
  }
}

.form {
  background-color: $form-bg-color;
  padding: 40px 20px;

  &__title {
    @extend .title;
    color: $main-dark-text-color;
    margin-bottom: 0;
  }

  &__btn {
    @extend .btn;
    text-align: center;
    padding: 10px 115px;
    margin: 40px auto 0 auto;
    transition: all 250ms linear;

    &:hover {
      opacity: 0.85;
    }
  }

  &__notification {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    margin-top: 10px;
    color: #ff0000;

    &::before {
      margin-right: 5px;
      content: url('../images/form/worning.svg');
    }

    &.is-hidden {
      visibility: hidden;
    }
  }
}

.input {
  &__box {
    position: relative;
    transition: all 500ms linear;
    z-index: 2;
  }

  &__input-name,
  &__input-email {
    width: 280px;
    height: 40px;
    background-color: $main-light-text-color;
    border: 1px solid $main-border-color;
    margin-top: 32px;
    padding-left: 8px;

    &::placeholder {
      color: transparent;
    }
  }

  &__label {
    position: absolute;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: $input-text-color;
    transform: translateY(40px);
    top: 0;
    left: 5px;
    transition: all 500ms linear;
    cursor: text;
    z-index: 1;
  }

  &__input-name:focus ~ &__label,
  &__input-email:focus ~ &__label,
  &__input-name:not(:placeholder-shown).input__input-name:not(:focus)
    ~ &__label,
  &__input-email:not(:placeholder-shown).input__input-email:not(:focus)
    ~ &__label {
    top: -33px;
  }
}

// --------------------TABLET---------------------------
@media screen and (min-width: $tablet) {
  .contacts {
    margin-bottom: 40px;

    &__img {
      width: 368px;
      height: 100%;
      object-fit: cover;
    }

    &__wrapper {
      display: flex;
      flex-direction: row;
    }
  }

  .form {
    padding: 40px 32px;

    &__btn {
      padding: 8px 146px;
    }
  }

  .input {
    &__input-name,
    &__input-email {
      width: 324px;
    }
    &__label {
      font-size: 18px;
      line-height: 23px;
    }
  }
}

// --------------------DESKTOP---------------------------
@media screen and (min-width: $desktop) {
  .contacts {
    margin-bottom: 0;

    &__img {
      width: 670px;
    }
  }

  .form {
    padding: 80px 20px;

    &__btn {
      padding: 8px 295px;
      margin: 60px auto 0 auto;
    }
  }

  .input {
    &__input-name,
    &__input-email {
      width: 620px;
    }
    &__label {
      line-height: 28px;
    }
  }
}
